a {
  color: grey;
}

h1 {
  color: darkgreen;
}

h2 {
  color: lightsalmon;
}

h4 {
  color: goldenrod;
}

div {
  background: seashell;
}

footer {
  background: lightsteelblue;
}
